<!-- /views/partials/header.ejs -->
<header>
  <div class="container">
    <div class="logo">
      <img src="/logo.png" alt="Pursuit7 Gaming" height="42">
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/rosters">Rosters</a>
      <a href="/gear">merch</a>
      <a href="/contact">Contact</a>
      <a href="/socials">Socials</a>
      <a href="/login">Admin Access</a>
    </nav>
  </div>
</header>
