<header class="navbar">
  <div class="nav-brand">
    <img src="/images/logo.png" alt="Pursuit7 Gaming" class="logo" />
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/about">Legacy</a>
    <a href="/merch">Gear</a>
    <a href="/contact">Contact</a>
    <a href="/rosters">Squad</a>
    <a href="/socials">Connect</a>
    <% if (isAuthenticated) { %>
      <a href="/logout">Secure Exit</a>
    <% } else { %>
      <a href="/login">Command Access</a>
    <% } %>
  </nav>
</header>
